[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
Address=10.193.0.80
DNS=255.255.0.0
Gateway=10.193.255.254
